# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# keep specific android files tracked
!/android/build.gradle
!/android/app/build.gradle
!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/java/com/hshiroma1/haulesposapp/MainApplication.kt
!/android/app/src/main/java/com/hshiroma1/haulesposapp/plugpagclassic/PlugPagClassicModule.kt
!/android/app/src/main/java/com/hshiroma1/haulesposapp/plugpagclassic/PlugPagClassicPackage.kt
